


body {
    /*background: linear-gradient(330deg, #919fad 0%, #748ea8 25%, #52769b 50%, #305882 75%, #1f4c7a 100%);*/
    background: linear-gradient(330deg, #0b2738 0%, #133d56 25%, #133d56 50%, #184f70 75%, #246c96 100%);
}


.textWithBlurredBg{
    width:300px;
    height:200px;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
  }
  
  .textWithBlurredBg img{
    width:100%;
    height:100%;
    transition:.3s;
    border-radius:4px;
  }
  
  .textWithBlurredBg:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px cyan;
  }
   
  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
  }
  
  .textWithBlurredBg h3{
    top:50%
  }
  
  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }
  
  /* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #e8eaed;
}